Test-Command: sh debian/tests/tf_doc_api_guide_cc.sh
Depends: @, build-essential, protobuf-dev,
Restrictions: allow-stderr

Test-Command: sh debian/tests/tf_cc_tutorial.sh
Depends: @, build-essential, protobuf-dev,
Restructions: allow-stderr
