Source: tensorflow
Section: science
Homepage: https://tensorflow.org/
# Upstream-Git: https://github.com/tensorflow/tensorflow
Priority: optional
Standards-Version: 4.2.0
Vcs-Browser: https://salsa.debian.org/science-team/tensorflow
Vcs-Git: https://salsa.debian.org/science-team/tensorflow.git
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Mo Zhou <cdluminate@gmail.com>,
Build-Depends:
 debhelper (>= 11~),
 cmake,
 dh-python,
 swig,
 python3,
 python3-all-dev,
 python3-numpy,
 libgif-dev,
 libjsoncpp-dev,
 libfarmhash-dev,
 zlib1g-dev,
 libpng-dev,
 libjpeg-dev,
 liblmdb-dev,
 libgemmlowp-dev,
 libhighwayhash-dev,
 libnsync-dev,
 libprotobuf-dev,
 protobuf-compiler,
 libre2-dev,
 libsqlite3-dev,
 libdouble-conversion-dev,
 libgtest-dev,
 libgrpc++-dev,
 libsuperlu-dev,
 protobuf-compiler-grpc,

              
Package: tensorflow
Section: metapackages
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
 libtensorflow1.10 (= ${binary:Version}),
 python3-tensorflow (= ${binary:Version}), 
Recommends:
 libtensorflow-dev (= ${binary:Version}),
Description: Computation using data flow graphs for scalable machine learning
 TensorFlow is an open source software library for numerical computation
 using data flow graphs. The graph nodes represent mathematical operations,
 while the graph edges represent the multidimensional data arrays (tensors)
 that flow between them. This flexible architecture enables you to deploy
 computation to one or more CPUs or GPUs in a desktop, server, or mobile
 device without rewriting code.
 .
 TensorFlow was originally developed by researchers and engineers working
 on the Google Brain team within Google's Machine Intelligence Research
 organization for the purposes of conducting machine learning and deep
 neural networks research. The system is general enough to be applicable
 in a wide variety of other domains, as well.
 .
 TensorFlow provides stable Python API and C APIs as well as without API
 backwards compatibility guarantee like C++, Go, Java, JavaScript and Swift.

Package: libtensorflow1.10
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Computation using data flow graphs for scalable machine learning (libs)
 TensorFlow is an open source software library for numerical computation
 using data flow graphs. The graph nodes represent mathematical operations,
 while the graph edges represent the multidimensional data arrays (tensors)
 that flow between them. This flexible architecture enables you to deploy
 computation to one or more CPUs or GPUs in a desktop, server, or mobile
 device without rewriting code.
 .
 This package ships the shared object of tensorflow.

Package: libtensorflow-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Computation using data flow graphs for scalable machine learning (dev)
 TensorFlow is an open source software library for numerical computation
 using data flow graphs. The graph nodes represent mathematical operations,
 while the graph edges represent the multidimensional data arrays (tensors)
 that flow between them. This flexible architecture enables you to deploy
 computation to one or more CPUs or GPUs in a desktop, server, or mobile
 device without rewriting code.
 .
 This package ships C and C++ development files of tensorflow.

Package: libtensorflow-bin
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Computation using data flow graphs for scalable machine learning (bin)
 TensorFlow is an open source software library for numerical computation
 using data flow graphs. The graph nodes represent mathematical operations,
 while the graph edges represent the multidimensional data arrays (tensors)
 that flow between them. This flexible architecture enables you to deploy
 computation to one or more CPUs or GPUs in a desktop, server, or mobile
 device without rewriting code.
 .
 This package ships binary utilities of tensorflow.

Package: python3-tensorflow
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 libtensorflow1.10 (>= ${source:Version}~),
Description: Computation using data flow graphs for scalable machine learning (Py3)
 TensorFlow is an open source software library for numerical computation
 using data flow graphs. The graph nodes represent mathematical operations,
 while the graph edges represent the multidimensional data arrays (tensors)
 that flow between them. This flexible architecture enables you to deploy
 computation to one or more CPUs or GPUs in a desktop, server, or mobile
 device without rewriting code.
 .
 This package ships Python3 interface of tensorflow.
