#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = #-Wall
export DEB_CXXFLAGS_MAINT_APPEND = #-Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_CMAKE_OPTS = -DCMAKE_BUILD_TYPE=Release \
	-Dtensorflow_VERBOSE=ON \
	-Dtensorflow_ENABLE_SSL_SUPPORT=OFF \
	-Dtensorflow_ENABLE_GRPC_SUPPORT=OFF \
	-Dtensorflow_ENABLE_HDFS_SUPPORT=OFF \
	-Dtensorflow_ENABLE_JEMALLOC_SUPPORT=OFF \
	-Dtensorflow_BUILD_CC_EXAMPLE=OFF \
	-Dtensorflow_BUILD_PYTHON_BINDINGS=ON \
	-Dtensorflow_BUILD_ALL_KERNELS=ON \
	-Dtensorflow_BUILD_CONTRIB_KERNELS=ON \
	-Dtensorflow_BUILD_CC_TESTS=OFF \
	-Dtensorflow_BUILD_PYTHON_TESTS=OFF \
	-Dtensorflow_BUILD_MORE_PYTHON_TESTS=OFF \
	-Dtensorflow_BUILD_SHARED_LIB=ON \
	-Dtensorflow_OPTIMIZE_FOR_NATIVE_ARCH=OFF \
	-Dtensorflow_ENABLE_SNAPPY_SUPPORT=ON \
	-Dtensorflow_DISABLE_EIGEN_FORCEINLINE=OFF \
	-Dtensorflow_WIN_CPU_SIMD_OPTIONS=OFF \
	-Dtensorflow_ENABLE_MKL_SUPPORT=OFF \
	-Dtensorflow_ENABLE_MKLDNN_SUPPORT=OFF \
	-Dtensorflow_ENABLE_GPU=OFF \
	-Dtensorflow_ENABLE_POSITION_INDEPENDENT_CODE=ON \
	-DPYTHON_EXECUTABLE=/usr/bin/python3


%:
	dh $@ -Scmake -Dtensorflow/contrib/cmake

override_dh_auto_configure:
	# Replace upstream CMake build with our modified one.
	-$(RM) -rf tensorflow/contrib/cmake
	cp -rv debian/cmake tensorflow/contrib/
	dh_auto_configure -- tensorflow/contrib/cmake $(DEB_CMAKE_OPTS)
	
override_dh_auto_build:
	# target:tensorflow for libtensorflow.so
	# target:tf_python_build_pip_package for the python package
	dh_auto_build -- tensorflow #tf_python_build_pip_package

override_dh_auto_test:
	true  #FIXME: temporary
