#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND =
export DEB_CXXFLAGS_MAINT_APPEND =
# XXX: Warning: -Wl,--as-needed will cause FTBFS!!
export DEB_LDFLAGS_MAINT_APPEND =

# colorized output reduces burden to my eye
export NINJA_STATUS=[1;36m[%es (%p) %f/%t][0;m 

%:
	dh $@ -Sninja -D.

override_dh_auto_clean:
	$(SHELL) debian/shogun-clean.sh

override_dh_auto_configure:
	-find . -type f -name '.gitignore' -delete
	-find tensorflow/examples/ -type f -exec chmod a-x '{}' +
	$(SHELL) debian/embedded.sh
	$(SHELL) debian/shogun-gen.sh

override_dh_auto_build:
	dh_auto_build -- -f all_proto.ninja
	dh_auto_build -- -f proto_text.ninja
	dh_auto_build -- -f libtensorflow_framework.ninja
	ln -sr libtensorflow_framework.so libtensorflow_framework.so.1.10  # temporary dirty fix
	dh_auto_build -- -f ccop.ninja
	dh_auto_build -- -f libtensorflow.ninja

override_dh_auto_install:
	$(SHELL) debian/shogun-install.sh

override_dh_auto_test:
	true  #XXX: temporary
